@import "../../mixins.scss";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 40px;
  p {
    text-align: center;
    margin: 5px 0;
  }
  @media (max-height: $screen-height-very-low) {
    overflow: auto;
    display: block;
  }
}
