@import "../../mixins.scss";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.help {
  padding: 0 10px;
  @media (max-height: $screen-height-very-low) {
    h1 {
      font-size: 24px;
      margin: 5px 0;
    }
    h2 {
      font-size: 20px;
      margin: 5px 0;
    }
  }
}
.content {
  display: block;
  overflow: auto;
  flex: 1;
  padding: 0 20px;
  @media (max-height: $screen-height-very-low) {
    padding: 0 15px;
    p {
      font-size: 14px;
    }
  }
  p {
    text-align: center;
    margin: 5px 0;
  }
  p > a {
    color: $color-white;
  }
}