<div class="content">

    <div class="card-container">
        <div class="row-container">
            <span class="visa">VISA</span>
            <img class="mastercard" src="/assets/mastercard.png">
        </div>
        <p class="card-no">**** **** ***X XXXX</p>
    </div>

    <form>
        <label for="card_no">{{ 'INPUT.CARD_NO' | translate }}</label>
        <input type="text" name="card_no" id="card_no" [(ngModel)]="form.card_no" maxlength="5" />

        <label for="phone_no">{{ 'INPUT.PIN' | translate }}</label>
        <input type="password" name="phone_no" id="phone_no" [(ngModel)]="form.phone_no" maxlength="10" />
        <div *ngIf="validationError" class="error">{{ 'INPUT.VALIDATION_ERROR' | translate }}</div>
    </form>
</div>

<div class="footer">
    <active-page-indicator [elements]="3" [active]="2"></active-page-indicator>
    <div class="button-container">
        <button class="rounded-button" (click)="submit()">{{ 'INPUT.CHECK_BALANCE' | translate }}</button>
    </div>
</div>
