<div class="content">

    <div class="card-container">
        <div class="row-container">
            <span class="visa">VISA</span>
            <img class="mastercard" src="/assets/mastercard.png">
        </div>
        <p class="card-no">**** **** **** ****</p>
    </div>

    <form>
        <label for="irc_no">{{ 'INPUT.IRC_NO' | translate }}</label>
        <input type="text" name="irc_no" id="irc_no" [(ngModel)]="form.irc_no" maxlength="4" />

        <label for="date_of_birth">{{ 'INPUT.PIN' | translate }}</label>
        <input type="text" name="date_of_birth" id="date_of_birth" [(ngModel)]="form.date_of_birth" maxlength="10" (ngModelChange)="transformInput()"/>
        <div *ngIf="validationError" class="error">{{ 'INPUT.VALIDATION_ERROR' | translate }}</div>
    </form>
</div>

<div class="footer">
    <active-page-indicator [elements]="3" [active]="2"></active-page-indicator>
    <div class="button-container">
        <button class="rounded-button" (click)="submit()">{{ 'INPUT.CHECK_BALANCE' | translate }}</button>
    </div>
</div>
