@import "../mixins.scss";

:host {
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.logo-container {
  margin: 0 auto;
  padding: 5px;
  display: block;
  img {
    width: 100%;
    height: auto;
    max-width: 414px;
  }
}
.updated-on {
  display: block;
  text-align: center;
  color: $color-green-5;
  margin-top: 5px;
  @media (max-height: $screen-height-very-low - 50) {
    display: none;
  }
}

.direction-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}
