@import "../../mixins.scss";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.help {
  padding: 5px 30px;
  p {
    font-size: 18px;
  }
  @media (max-height: $screen-height-very-low) {
    margin: 0;
    padding: 5px 10px;
    p {
      margin: 0;
      font-size: 16px;
    }
  }
}
.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  p {
    margin: 0;
    padding: 0 20px;
    text-align: center;
  }
  @media (max-height: $screen-height-very-low) {
    padding-top: 15px;
    overflow: auto;
    display: block;
  }
}

