<div class="content">

    <div style="height: 150px; width: 100%; background-color: deepskyblue; padding: 10px; border-radius: 10px">
        <h2>VISA placeholder</h2>
        <p>**** **** ****</p>
    </div>

    <form>
        <label for="card">Enter card number (14 digits):</label>
        <input type="text" name="card" id="card" value="" />

        <label for="password">Enter PIN code (4 digits):</label>
        <input type="password" name="password" id="password" value="" />
    </form>
</div>

<div class="footer">
    <active-page-indicator></active-page-indicator>
    <div class="button-container">
        <a class="rounded-button" routerLink="/results">Check Balance</a>
    </div>
</div>
