@import "../../mixins.scss";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  @media (max-width: 320px) {
    padding: 0 15px;
  }
  @media (max-height: $screen-height-very-low + 80) {
    overflow: auto;
    display: block;
  }
}

form {
  margin: 10px auto 0 auto;
  width: 100%;
  max-width: $screen-height-very-low;
  label {
    display: block;
    font-size: 16px;
    margin: 10px 0 5px;
  }
  input {
    width: 100%;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 12px;
    border: 2px solid $color-black-4;
    background-color: darken($color-black-6, 6%);
    color: $color-white;

  }
}

.visa-container {
  height: 150px;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  max-width: 480px;
  margin: 0 auto;
  box-shadow: 0 0 5px rgba(55, 55, 55, 0.5);
  background: #60caea; /* Old browsers */
  background: -moz-linear-gradient(top, #60caea 29%, #0075ce 100%);
  background: -webkit-linear-gradient(top, #60caea 29%,#0075ce 100%);
  background: linear-gradient(to bottom, #60caea 29%,#0075ce 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60caea', endColorstr='#0075ce',GradientType=0 );
  h2 {
    border: 4px solid $color-white;
    border-radius: 5px;
    display: inline-block;
    margin-top: 5px;
    padding: 7px;
    font-size: 22px;
  }
  p {
    margin: 0;
    font-size: 20px;
    font-family: monospace;
  }
}