<div class="content">

    <div style="height: 150px; width: 100%; background-color: deepskyblue; padding: 10px; border-radius: 10px; max-width: 480px">
        <h2>VISA</h2>
        <p>**** **** ****</p>
    </div>

    <form>
        <label for="card">{{ 'INPUT.CARD_NO' | translate }}</label>
        <input type="text" name="card" id="card" value="" />

        <label for="password">{{ 'INPUT.PIN' | translate }}</label>
        <input type="password" name="password" id="password" value="" />
    </form>
</div>

<div class="footer">
    <active-page-indicator [elements]="3" [active]="2"></active-page-indicator>
    <div class="button-container">
        <a class="rounded-button" routerLink="/results">{{ 'INPUT.CHECK_BALANCE' | translate }}</a>
    </div>
</div>
