@import "../../mixins";

:host {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 40px;
  @media (max-height: $screen-height-very-low) {
    display: block;
  }
}

form {
  margin: 10px auto 0 auto;
  width: 100%;
  max-width: $screen-height-very-low;
  label {
    display: block;
    font-size: 16px;
    margin: 10px 0 5px;
  }
  input {
    width: 100%;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 12px;
    border: none;
    background-color: darken($color-black-6, 6%);
    color: $color-white;
  }
}