<div class="content">

    <div class="card-container">
        <div class="row-container">
            <span class="visa">VISA</span>
            <img class="mastercard" src="/assets/mastercard.png">
        </div>
        <p class="card-no">**** **** ***X XXXX</p>
    </div>

    <form>
        <label for="card">{{ 'INPUT.CARD_NO' | translate }}</label>
        <input type="text" name="card" id="card" value="" maxlength="5" />

        <label for="phone_no">{{ 'INPUT.PIN' | translate }}</label>
        <input type="password" name="phone_no" id="phone_no" value="" maxlength="10" />
    </form>
</div>

<div class="footer">
    <active-page-indicator [elements]="3" [active]="2"></active-page-indicator>
    <div class="button-container">
        <a class="rounded-button" routerLink="/results">{{ 'INPUT.CHECK_BALANCE' | translate }}</a>
    </div>
</div>
